<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Biggy.Core" version="0.1.0.1" targetFramework="net461" />
  <package id="Biggy.Data.Json" version="0.1.0.1" targetFramework="net461" />
  <package id="Biggy.Data.Sqlite" version="0.1.0.1" targetFramework="net461" />
  <package id="CoreTechs.Common" version="21.0.1" targetFramework="net461" />
  <package id="CsvHelper" version="7.1.1" targetFramework="net461" />
  <package id="dt_UtilityHelper" version="1.2.12-alpha" targetFramework="net461" />
  <package id="dt_UtilityInterface" version="1.0.8" targetFramework="net461" />
  <package id="DynamicData" version="6.4.0.2419" targetFramework="net461" />
  <package id="GenericParsing.Standard" version="1.4.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net461" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net461" />
  <package id="KingAOP" version="1.0.0" targetFramework="net461" />
  <package id="LiteDB" version="4.1.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Range" version="1.1.0" targetFramework="net461" />
  <package id="SQLiteNetExtensions" version="2.1.0" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.1.0" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
  <package id="TeaFiles.Net" version="1.0.0.35" targetFramework="net461" />
  <package id="UtilityDAL" version="1.0.3" targetFramework="net461" />
  <package id="UtilityReactive" version="1.0.0" targetFramework="net461" />
  <package id="XmlSerializerHelper" version="3.0.3" targetFramework="net461" />
</packages>