<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Betfair.Model" version="1.0.0" targetFramework="net472" />
  <package id="Betting.BLL" version="1.1.2" targetFramework="net472" />
  <package id="Betting.Enum" version="1.0.7" targetFramework="net472" />
  <package id="Betting.Math" version="1.1.2" targetFramework="net472" />
  <package id="Betting.Model" version="1.2.2" targetFramework="net472" />
  <package id="Csv" version="1.0.52" targetFramework="net472" />
  <package id="DataTableMapper" version="1.1.1" targetFramework="net472" />
  <package id="DotAdvancedDictionary" version="1.0.0.1" targetFramework="net472" />
  <package id="Football.Enum" version="1.0.0" targetFramework="net472" />
  <package id="FootballBet" version="1.0.0" targetFramework="net472" />
  <package id="FootballBet2" version="1.0.0" targetFramework="net472" />
  <package id="FootballData.Model" version="1.0.6" targetFramework="net472" />
  <package id="FootballData.Service" version="1.0.9" targetFramework="net472" />
  <package id="FootballData.Two" version="1.0.12" targetFramework="net472" />
  <package id="FootballRating.Model" version="1.0.13" targetFramework="net472" />
  <package id="FootballSystem.BLL" version="1.1.4" targetFramework="net472" />
  <package id="FootballSystem.Model" version="1.1.2" targetFramework="net472" />
  <package id="IncrementalMeanVarianceAccumulator" version="1.0.0" targetFramework="net472" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net472" />
  <package id="LiteDB" version="4.1.4" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net472" />
  <package id="morelinq" version="3.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NodaMoney" version="1.0.5" targetFramework="net472" />
  <package id="Optional" version="4.0.0" targetFramework="net472" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="OxyPlotEx.ViewModel" version="1.0.1" targetFramework="net472" />
  <package id="Scrape.Entity" version="1.1.13" targetFramework="net472" />
  <package id="SharpLearning.Containers" version="0.31.4" targetFramework="net472" />
  <package id="sqlite-net-base" version="1.5.231" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TeaFiles.Net" version="1.0.0.35" targetFramework="net472" />
  <package id="Troschuetz.Random" version="4.3.1" targetFramework="net472" />
  <package id="Understat" version="1.1.22" targetFramework="net472" />
  <package id="Understat.Rating" version="1.0.0" targetFramework="net472" />
  <package id="UtilityAttribute" version="1.0.1" targetFramework="net472" />
  <package id="UtilityDAL.Model" version="2.0.16" targetFramework="net472" />
  <package id="UtilityDAL.Teatime" version="1.0.14" targetFramework="net472" />
  <package id="UtilityEnum" version="1.1.3" targetFramework="net472" />
  <package id="UtilityHelper" version="2.1.1-alpha" targetFramework="net472" />
  <package id="UtilityInterface" version="2.0.1-alpha" targetFramework="net472" />
  <package id="UtilityMath" version="1.0.6-alpha" targetFramework="net472" />
  <package id="UtilityModel" version="1.0.6-alpha" targetFramework="net472" />
  <package id="UtilityReactive.Model" version="1.0.5" targetFramework="net472" />
  <package id="UtilityStruct" version="1.0.4" targetFramework="net472" />
</packages>